@keyframes bandeauIn
{
	100% {width: 200px; position: fixed;}
}

@keyframes bandeauOut
{
	100% {width: 10px; position: relative;}
}

#map 
{
	width: 150px; 
	height:150px;
	visibility: hidden;
}

#titlePos
{
	visibility: hidden;
}

#bandeau
{
	width: 10px;
	height: 250px;
	background-color: grey;
	overflow: hidden;
}

#bandeau:hover
{
	animation: bandeauIn 1s 0s linear 1;
}