/*Import des polices / definitions d'animations*/
@font-face
{
	font-family: 'caviar';
	src: url('../font/CaviarDreams.ttf');
}

@font-face
{
	font-family: 'caviarB';
	src: url('../font/CaviarDreams_Bold.ttf');
}

@keyframes fadein
{
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeinB
{
	0% {opacity: 0;}
	100% {opacity: 0.9;}
}

/*Bonnes pratiques*/
*
{
	margin: 0;
	box-sizing: border-box;
	font-family: caviar, verdana;
}

/*Propriétés du bandeau*/

#map 
{
	width: 200px; 
	height:200px;
	border: 1px solid grey;

}

/*Positionnement du bandeau (fixe, apparaissant au dessus des éléments et minimisé pour l'effet de translation)*/
#bandeau
{
	width: 300px;
	height: 380px;
	background-color: #42464D;
	position: fixed;
		left: -295px;
		top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	padding: 15px;
	color: azure;
	text-align: center;
	font-weight: lighter;
	opacity: 0.9;
	border: 1px solid black;
 	border-radius: 0px 60px 0px 60px;
}

#bandeau p
{
	font-size: 0.9em;
	text-decoration: underline;
}

#bandeau h2
{
	font-size: 1.5em;
	text-decoration: underline;
}

/*Affichage du menu au survol*/
#bandeau:hover
{
	transform: translateX(290px);
	animation: fadeinB 1s 0s linear 1;
}

/*Création d'une petite fleche pour indiquer que le bandeau se déroule*/
#fleche
{
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 7px solid #42464D;
	position: fixed;
		top: 280px;
		left: 7px;
	opacity: 0.9;
}

/*Propriétés du menu déroulant*/

/*Utilisation d'elements flex pour la disposition, definition de la typologie du header, disposition des éléments (logos/liens de menus), effets de survol*/
header
{
	display: flex;
	justify-content: space-between;
	background-color: #42464D;
	text-align: center;
	height: 90px;
	min-width: 980px;
}

#logo
{
	width: 70px;
	height: 70px;
	margin-right: 20px;
	margin-top: 10px;
	margin-left: 5px;
}

#menuPrincipal
{
	display: flex;
	font-size: 1.6em;
}

#menuPrincipal div a
{
	text-decoration: none;
	color: azure;
	padding-top: 41px;
	position: relative;
	z-index: 1;
	font-size: 0.8em;
}

#menuPrincipal div
{
	padding-left: 25px;
	padding-right: 25px;
}

#nousTrouver
{
	padding-top: 20px;
	width: 120px;
}

#accueil, #evenements, #connexion, #inscription
{
	padding-top: 34px;
}

#accueil:hover, #nousTrouver:hover, #evenements:hover, #connexion:hover, #inscription:hover, #carte a:hover
{
	background-color: #525456;
	text-decoration: underline;
}

#carte
{
	display: flex;
	flex-direction: column;
}

#carte *
{
	padding-bottom: 25px;
	width: 160px;
	margin-right: -25px;
	margin-left: -25px;
}

#pannel img
{
	width: 35px;
	height: 35px;
	align-self: center;
	margin: 10px;
}

#pannel
{
	align-self: center;
	padding-top: 10px;
	flex-wrap: no-wrap;
}

/*Sous menu definit comme n'existant pas, affichés au survol via js cf: ../js/script.js*/
#menus, #hamburgers, #boissons, #desserts
{
	display: none;
	background-color: #42464D;
}

#social
{
	align-self: center;
	width: 100px;
}

#social a, #lienLogo
{
	opacity: 0.6;
}

#pannel a
{
	opacity: 0.7;
}

#social a:hover, #lienLogo:hover, #pannel a:hover
{
	opacity: 1;
}

/*Propriétés de la banniere d'accueil*/

#banniere
{
	height: 300px;
	text-align: center;
}

#titlePrinc
{
	font-family: caviarB, verdana;
	font-weight: bold;
	font-size: 6em;
	letter-spacing: 40px;
	position: relative;
		top: 55px;
}

#banniere
{
	background-image: url('../img/banniere.jpg');
	background-size: cover;
	background-position: center;
	min-width: 870px;
}

h1
{
	text-align: center;
	font-size: 3em;
	margin-bottom: 50px;
	margin-top: 20px;
}

/*Propriétés du contenu du site (sections)*/
h2
{
	margin-bottom: 20px;
	text-align: center; 
}

#presentations h2
{
	margin-top: 50px;
}

#presentations p
{
	text-align: center;
	width: 500px;
	margin: 0 auto;
}

video
{
	display: block;
	margin: 0 auto;
	width: 800px;
	height: 400px;
	margin-bottom: 25px;
}

section
{
	padding-top: 50px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

#index
{
	padding-top: 0px;
}


/*Propriétés de de la page nous trouver et evenements*/
#ou, #fete
{
	display: flex;
	justify-content: space-around;
}


#map2
{
	height:200px;
	width: 200px;
	margin-bottom: 10px;
}

#infoMap, #planning, #infoFete
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 250px;
	text-align: center;
}

#semaine
{
	width: 15%
}

#infoFete
{
	height: 400px;
}

#semaine li, #nomFete li
{
	list-style: none;
	margin-top: 25px;
}

#semaine li a, #nomFete li a
{
	position: relative;
		right: 15px;
	text-decoration: none;
	color: black;
	font-size: 1.3em;
}

#semaine li a:hover, #nomFete li a:hover
{
	font-weight: bolder;
	text-decoration: underline;
}

#horaire
{
	width: 12%;
	text-align: center;
}

#semaine, #horaire
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

hr
{
	height: 300px;
}

/*debut page carte*/
section img
{
	width: 200px;
	height: 200px;
}

/* redimensionne que les boissons*/
.burger img
{
	margin-top: 20px; /*rajout marge entre image et texte*/
}

.carteMenu img
{
	margin-top: 70px; /*rajout marge entre image et texte*/
}

.boisson img
{
	width: 100px;
	margin-top: 20px;
}

/* redimensionne imgs une nouvelle fois certains desserts car pas même taille image que les autres
*/
#kinder img, #snickers img, #twix img
{
	width: 70%;
	height: 60%;
	margin-top: 20px;
}

#muffin img, #brownie img, #fruits img, #potdeglace img
{
 	margin-top: 20px;
}

#potdeglace img
{
 	width: 160px;
}

/* redimensionne img cola une nouvelle fois certains desserts car pas même taille image que les
autres */
#coca
{
	width: 100px;
	height: 200px;
}

#bCoca
{
	width: 70px;
	height: 200px;
}

#glace
{
	width: 150px;
	height: 200px;
}

#chocolat ,#The
{
 	width: 160px;
}

.cartemenu
{
 	flex-direction: row;
 	justify-content: space-between;
}

/*Propriétés des pages de produits*/
#listemenu, #carteM, #hamburgersP, #dessertsP, #boissonsP
{
 	display: flex;
 	justify-content: space-around;
 	flex-wrap: wrap;
 	width: 100%;
 	text-align: center;
 	margin-top: -150px;
}

#menu3 img, #menu4 img
{
 	height: 150px;
}

.menuP, .carteMenu, .burger, .dessert, .boisson
{
 	width: 650px;
 	padding: 1%;
 	margin-top: 150px; /*marge entre les images*/
 	border: 1px ridge black;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	background: #42464D;
 	font-size: 20px; /*taille du texte*/
 	color: white; /*couleur du texte*/
 	border: 1px solid black;
 	border-radius: 0px 60px 0px 60px;
}

/* couleur du lien en blanc et soulignement lors passage de la souris */
a
{
 	color: #FFFFFF;
 	text-decoration: none;
}

a:active, a:hover
{
 	text-decoration: underline;
}

/*Propriétés du footer*/
footer
{
 	color: azure;
 	background-color: #42464D;
 	display: flex;
 	flex-direction: raw;
 	justify-content: space-around;
 	align-items: center;
 	height: auto;
 	padding: 15px;
 	width: 100%;
 	position: fixed;
 	bottom: 0px;
 	font-size: 0.8em;
}

#hrFt
{
	height: 30px;
}

/*Propriété des formulaires d'inscription et de connexion*/
legend
{
	text-align: center;
	
}

fieldset
{
	width: 600px;
	margin: auto;
	color: #42464D;
	border: 1px solid #42464D;

}

form
{
	display: flex;	
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

input
{
	width: 100px;
	
}

#errorBlock
{
	text-align: center;
}

@media all and (max-device-width: 800px)
/*Requete média pour les appareils mobile*/
{

    #hamburgers, #menus
    {
    	padding-top: 36px;
    }

    #bandeau
    {
    	left: -290px;
    	top: 300px;
    }

    #fleche
    {
    	border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 9px solid #42464D;
    	left: 15px;
    	top: 480px;
    }
}