/* Tips */
Body {

}
* {
    box-sizing: border-box;
}
/* Polices de caractères */
@font-face
{
	font-family: 'caviar';
	src: url('./font/CaviarDreams.ttf');
}

@font-face
{
	font-family: 'caviarB';
	src: url('./font/CaviarDreams_Bold.ttf');
}
/* Application du CSS */
h1 {
    font-family: 'caviarB', serif;
    text-align: center;
    font-size: 50px;
    color: #3c424f;
}
h2 {
    font-family: 'caviar', serif;
    color: white;
    text-align: center;
}
section {
    background-color: #42464D;
    border: 10px double grey;
    margin-top: 10px;
    border-radius: 5px;
}
div {
    background-color: lightslategray;
}
tbody {
    
}
table {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
    font-family: 'caviar', serif;
}
td {
    border: 1px solid black;
    width: 100%;
}
tr {
    font-family: 'caviar', serif;
}
th {
    border: 1px solid black;
}
fieldset {
    font-family: 'caviar', serif;
    border-radius: 5px;
}
legend , input {
    font-family: 'caviarB', serif;
}
#logo {
    width: 100px;
    position: absolute;
    top: 15px;
    left: 15px;
}
#logo:hover {
    opacity: 0.8;
}